= form_for @question do |f|
  - if @question.errors.any?
    #error_explanation
      %h2= "#{pluralize(@question.errors.count, "error")} prohibited this question from being saved:"
      %ul
        - @question.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :título, class: 'font-weight-bold'
    = f.text_field :title, :required => true, placeholder:"¿Cuál es tu pregunta? Sé específico", id: "title", class: 'form-control'
  .field.mt-4
    = f.label :redacta_tu_pregunta_aquí, class: 'font-weight-bold'
    = f.trix_editor :body, :required => true, rows: "10",id: 'body', class: 'form-control ', "trix-change":"a"
    %button.btn.btn-outline-secondary.btn-sm{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} html preview
  .field.mt-4
    = f.label :etiquetas, class: 'font-weight-bold'
    .tagss
      = f.fields_for @questiontag do |qt|
        = qt.collection_select :tag_id, Tag.all, :id, :name, {:selected => @tags }, {multiple: true, class:"form-control tagss"}
    = f.submit 'Publicar tu pregunta', class:'btn btn-outline-primary mt-4 mb-4 '
    .container
      / Trigger the modal with a button
      / Modal
      #myModal.modal.fade{:role => "dialog"}
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              %h4.modal-title Escriba su codigo html y css::
            .modal-body          
              .main
                .header
                .menu
                .content
                .row
                  .col-6
                    %textarea#editor
                      :preserve
                  .col-6
                    %iframe#browser
            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
              .row
                .col-12.text-right
                  %input{:onclick => "myTRY()", :type => "button",:id => "envivo", :value => "RUN", :class => "btn btn-outline-secondary border-radius:10px"}/
   