.container
  .row.justify-content-center.mb-0.errorstyle
    .col-8
      -if(devise_error_messagescustom!.length>0)
        .alert.alert-danger.alert-dismissible.fade.show.text-center{:role => "alert"}
          %button.close{"data-dismiss" => "alert", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %strong
            = devise_error_messagescustom!
  .row.justify-content-center
    .col-4
      .card.p-4
        %h2.text-center Registrar Usuario
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .field.mt-2
            = f.label :nombre
            %br/
            = f.text_field :first_name, autofocus: true, autocomplete: "first_name", required: true, class: 'input-group'
          .field.mt-2
            = f.label :apellido
            %br/
            = f.text_field :last_name, autofocus: true, autocomplete: "last_name",required: true, class: 'input-group'
          .field.mt-2
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, autocomplete: "email",required: true, class: 'input-group'
          .field.mt-2
            = f.label :contraseña
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} caracteres minimo)
            %br/
            = f.password_field :password, autocomplete: "off", required: true, class: 'input-group'
          .field.mt-2
            = f.label :confirmar_contraseña
            %br/
            = f.password_field :password_confirmation, autocomplete: "off", required: true, class: 'input-group'
          .actions.mt-2.mb-2
            = f.submit "Registrarse", class: 'btn btn-success input-group rounded-5'
        = render "devise/shared/links"
